{% extends "base.html" %}

{% block body %}

<div class="body-splat">
    <div class="wrapper">
        <h1>Edit Pet</h1>
        <form method="POST" class="formulario">
            {% csrf_token %}
            <div>
                <label for="name">Pet Name:</label>
                <input type="text" id="name" name="name" value="{{ pet.name }}">
            </div>
            {% if errors.name %}
            <span style="color: red; font-size: smaller;">{{ errors.name }}</span><br>
            {% endif %}
            <div>
                <label for="species">Species:</label>
                <input type="text" id="species" name="species" value="{{ pet.species }}">
                {% if errors.species %}
                <span style="color: red; font-size: smaller;">{{ errors.species }}</span><br>
                {% endif %}
            </div>
            <div>
                <label for="breed">Breed:</label>
                <input type="text" id="breed" name="breed" value="{{ pet.breed }}">
                {% if errors.breed %}
                <span style="color: red; font-size: smaller;">{{ errors.breed }}</span><br>
                {% endif %}
            </div>
            <div>
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" min="1" max="999" placeholder="Idade" value="{{ pet.age }}">
                {% if errors.age %}
                <span style="color: red; font-size: smaller;">{{ errors.age }}</span><br>
                {% endif %}
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description">{{ pet.description }}</textarea>
            </div>
            <div>
                <label for="photo">Photo</label>
                <input type="url" id="photo" name="photo" value="{{ pet.photo }}">
            </div>
            <button type="submit" class="btn-custom">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}