{% extends "base.html" %}


{% block body %}
<div style="text-align: center; color: white;">
    <h1>Pet4You</h1>
    <p>Encontre o seu novo melhor amigo.</p>
    {% if user.is_authenticated %}
    <div style="margin-top: 20px;">
        <p>Hi {{ user.username }}!</p>  
        <br><br>
        <form action="{% url 'pet4you:logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-custom">Logout</button>
        </form>
        <br><br>
        <form action="{% url 'pet4you:posting' %}" method="get" style="display: inline;">
            <button type="submit" class="btn btn-custom">Postar Anúncio</button>
        </form>
        <br><br>
        <form action="{% url 'pet4you:list' %}" method="get" style="display: inline;">
            <button type="submit" class="btn btn-custom">Meus Anúncios</button>
        </form>
    </div>
    {% else %}
    <p>You are not logged in</p>
    <br><br>
    <form action="{% url 'pet4you:login' %}" method="get" style="display: inline;">
        <button type="submit" class="btn btn-custom">Log In</button>
    </form>
    {% endif %}
</div>
{% endblock %}
