{% block body %}
<div class="body-splat">
<div style="text-align: center; color: white;">
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<div id="top-left">Pet4You</div>
    {% if user.is_authenticated %}
    <div style="position: absolute; top: 20px; right: 20px; display: flex; gap: 10px;">
        <p>Hi {{ user.username }}!</p>  
        <form action="{% url 'pet4you:logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-custom">Logout</button>
        </form>
        <form action="{% url 'pet4you:posting' %}" method="get" style="display: inline;">
            <button type="submit" class="btn btn-custom">Postar Anúncio</button>
        </form>
        <form action="{% url 'pet4you:list' %}" method="get" style="display: inline;">
            <button type="submit" class="btn btn-custom">Meus Anúncios</button>
        </form>
        {% if user.is_staff %}
        <form action="{% url 'pet4you:report_list' %}" method="get" style="display: inline;">
            <button type="submit" class="btn btn-custom">Denúncias</button>
        </form>
        {% endif %}
    </div>
    {% else %}
    <p>You are not logged in</p>
    <br><br>
    <form action="{% url 'pet4you:login' %}" method="get" style="display: inline;">
        <button type="submit" class="btn btn-custom">Log In</button>
    </form>
    {% endif %}
</div>
</div>
{% endblock %}