{% extends "base.html" %}
{% block body %}
<div class="wrapper">
    <h1>Your Pets</h1>
    {% if pets %}
        <ul>
            {% for pet in pets %}
                <li>
                    <h3>{{ pet.name }}</h3>
                    <p>Species: {{ pet.species }}</p>
                    <p>Breed: {{ pet.breed }}</p>
                    <p>Age: {{ pet.age }}</p>
                    <p>Description: {{ pet.description }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No pets found.</p>
    {% endif %}
    <div class="register-link">
        <p><a href="{% url 'pet4you:home' %}">Home</a></p>
    </div>
</div>
{% endblock %}
