<!-- Formulário método de post -->
<form id="posting" method="post">
    <label for="name">name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="species">species:</label><br>
    <input type="text" id="species" name="species"><br>
    <label for="breed">breed:</label><br>
    <input type="text" id="breed" name="breed"><br>
    <label for="age">age:</label><br>
    <input type="text" id="age" name="age"><br>
    <label for="description">description:</label><br>
    <input type="text" id="description" name="description"><br>
    <input type="submit" value="Submit">
</form>