{% extends 'base.html' %} 
{% load static %}
{% block body %}
<style>
.report-container {
    position: relative;
}

/* Estilo para o botão de excluir */
.btn-excluir {
    background-color: #DC3545; /* Cor vermelha */
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px; /* Posiciona no canto direito */
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.bottom-left a {
    background-color: #007BFF;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
</style>

<!-- Seu código HTML existente -->
<section class="content">
  <div class="report-container">
    <div class="report-img">
      <img src="{{ pet.photo }}" alt="Preview Image" />
    </div>
    <div class="report-info">
      <div class="report">
        <p><strong>ID da Denúncia:</strong> {{ report.id }}</p>
        <p><strong>Relatório da denúncia:</strong></p>{{ report.text }}
      </div>
      {% if user == pet.owner or user.is_superuser %}
      <form id="delete-form" action="{% url 'pet4you:delete_post' pet.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-excluir" onclick="return confirm('Tem certeza que deseja excluir este post?')">Excluir Post</button>
      </form>
      {% endif %}
      <p class="bottom-left"><a href="{% url 'pet4you:home' %}">Voltar para o início</a></p>
    </div>
  </div>
</section>

{% endblock %}
