{% extends 'base.html' %} 
{% load static %}
{% block body %}
<style>
.report-container {
    position: relative;
}
.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.bottom-left a {
    background-color: #007BFF; /* Altere para a cor desejada */
    color: white; /* Altere para a cor desejada */
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
</style>

<!-- Seu código HTML existente -->
<section class="content">
  <div class="report-container">
    <div class="report-img">
      <img src="{{ pet.photo }}" alt="Preview Image" />
    </div>
    <div class="report-info">
      <div class="report">
        <p><strong>ID da Denúncia:</strong> {{ report.id }}</p>
        <p><strong>Relatória da denúncia:</strong></p>{{ report.text}}
      </div>
      <p class="bottom-left"><a href="{% url 'pet4you:home' %}">Voltar para o início</a></p>
    </div>
  </div>
</section>
{% endblock %}
