{% extends 'base.html' %}
{% load static %}


{% block body %}
<header class="home-header" style="height: 80px; display: flex; align-items: center; background-color: white;">
    <div class="container" style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
      <a href="{% url 'pet4you:home' %}">
        <img src="{% static 'css/icon-removebg.png' %}" alt="Logo" class="logo-icon" width="150" height="150" style="margin-right: 10px;">
      </a>
      <nav class="home-nav" style="margin-left: auto;">
        <ul style="display: flex; gap: 10px;">
          {% if user.is_authenticated %}
          <li><a href="{% url 'pet4you:posting' %}" class="nav-link" style="color: #004261;">Postar Anúncio</a></li>
          <li><a href="{% url 'pet4you:list' %}" class="nav-link" style="color: #004261;">Meus Anúncios</a></li>
          <li><a href="{% url 'pet4you:favorite' %}" class="nav-link" style="color: #004261;">Meus Favoritos</a></li>
          {% if user.is_staff %}
          <li><a href="{% url 'pet4you:report_list' %}" class="nav-link" style="color: #004261;">Denúncias</a></li>
          {% endif %}
          {% csrf_token %}
          <li><a href="{% url 'pet4you:logout' %}" class="nav-link" style="color: #004261;">Logout</a></li>
          {% else %}
          <li><a href="{% url 'pet4you:login' %}" class="nav-link" style="color: #004261;">Login</a></li>
          <li><a href="{% url 'pet4you:register' %}" class="nav-link" style="color: #004261;">Sign up</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
<section class="content">
    <div class="table-container">
        <table class="report-table">
            <tr>
                <th>ID da Denúncia</th>
                <th>ID do Pet</th>
                <th>Nome do Pet</th>
                <th>Denunciante</th>
            </tr>
            {% for report in reports %}
            <tr class="report-table" data-href="{% url 'pet4you:report_admin' report.id%}">
                <td>{{ report.id }}</td>
                <td>{{ report.pet.id }}</td>
                <td>{{ report.pet.name }}</td>
                <td>{{ report.reporter.username}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
<script>
document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll('tr[data-href]').forEach(elem => {
        elem.addEventListener("click", () => {
            window.location.href = elem.dataset.href;
        });
    });
});
</script>
{% endblock %}