{% extends 'base.html' %}

{% block body %}
<div class="body-splat">
    <div class="container">
        <h1>Reportar</h1>
        <form action="{% url 'pet4you:report' pet.id %}" method="post">
            {% csrf_token %}
            <label for="report-text">Informe o motivo do relatório:</label><br>
            <textarea id="report-text" name="text" rows="4" cols="50" required></textarea><br>
            <input type="submit" value="Enviar Relatório">
        </form>
    </div>
</div>
{% endblock %}