{% extends 'base.html' %}

{% block body %}
<header class="home-header">
    <div class="container">
        <h1>Pet4You</h1>
        <nav class="home-nav">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'pet4you:posting' %}">Postar Anúncio</a></li>
                <li><a href="{% url 'pet4you:list' %}">Meus Anúncios</a></li>
                <li><a href="{% url 'pet4you:favorite' %}">Meus Favoritos</a></li>
                {% if user.is_staff %}
                <li><a href="{% url 'pet4you:report_list' %}">Denúncias</a></li>
                {% endif %}
                {% csrf_token %}
                <li><a href="{% url 'pet4you:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'pet4you:login' %}">Login</a></li>
                <li><a href="{% url 'pet4you:register' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<section class="content">
    <div class="table-container">
        <table class="report-table">
            <tr>
                <th>ID da Denúncia</th>
                <th>ID do Pet</th>
                <th>Nome do Pet</th>
                <th>Denunciante</th>
            </tr>
            {% for report in reports %}
            <tr class="report-table" data-href="{% url 'pet4you:report_admin'%}">
                <td>{{ report.id }}</td>
                <td>{{ report.pet.id }}</td>
                <td>{{ report.pet.name }}</td>
                <td>{{ report.reporter.username}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
<script>
document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll('tr[data-href]').forEach(elem => {
        elem.addEventListener("click", () => {
            window.location.href = elem.dataset.href;
        });
    });
});
</script>
{% endblock %}