{% extends "base.html" %}
{% block body %}
<div class="login-container">
  <div class="login-form" style="transform: scale(0.80);">
    <h2>Sign Up</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        {{ form.username.label_tag }}
        <small>{{ form.username.help_text }}</small>
        {{ form.username }}
        <i class="bx bxs-user"></i>
      </div>

      <div class="form-group">
        <p>{{ form.password1.label_tag }}</p>
        <small>{{ form.password1.help_text }}</small>
        {{ form.password1 }}
        <i class="bx bxs-lock"></i>
      </div>

      <div class="form-group">
        <p>{{ form.password2.label_tag }}</p>
        <small>{{ form.password2.help_text }}</small>
        {{ form.password2 }}
        <i class="bx bxs-lock"></i>
      </div>
      
      <button type="submit" class="btn">Sign Up</button>
    </form>
    <div class="forgot-password">
      <p>Ja tem uma conta ? <a href="{% url 'pet4you:login' %}">Login</a></p>
      <p style="text-align: center;"><a href="{% url 'pet4you:home' %}">Voltar para o início</a></p>
    </div>
  </div>
</div>
{% endblock %}